{% extends 'base.html.twig' %}

{% block title %}Hello ChambreEtGammeController!{% endblock %}

{% block body %}
<h1>Bienvenue dans la Chambre&Gamme</h1>
    <img src="{{asset('assets/img/1.jpg')}}" width="25%" height="100%">
    <img src="{{asset('assets/img/2.jpg')}}" width="25%" height="100%">
    
{% endblock %}
